<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	        http://www.springframework.org/schema/beans 
	        http://www.springframework.org/schema/beans/spring-beans.xsd
	        http://www.springframework.org/schema/tx 
	        http://www.springframework.org/schema/tx/spring-tx.xsd
	        ">

	<!-- mybatis 配置 -->
		<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
			init-method="init" destroy-method="close">
			<property name="url" value="${dev.database.url}" />
			<property name="username" value="${dev.database.username}" />
			<property name="password" value="${dev.database.password}" />
			<property name="initialSize" value="10" />
			<property name="maxActive" value="100" />
			<property name="maxWait" value="15000" />
			<!-- <property name="validationQuery" value="${validationQuery}" /> -->
			<property name="testOnBorrow" value="false" />
			<property name="testOnReturn" value="false" />
			<property name="testWhileIdle" value="false" />
			<property name="timeBetweenEvictionRunsMillis" value="60000" />
			<property name="removeAbandoned" value="true" />
			<property name="removeAbandonedTimeout" value="200000" />
			<property name="logAbandoned" value="true" />
			<!-- <property name="filters" value="mergeStat" /> -->
		</bean>



	<beans>
		<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
			<property name="dataSource" ref="dataSource" />
			<property name="mapperLocations" value="classpath*:com/likeme/*/mapper/xml/*.xml"/>
		</bean>
		<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
			<property name="basePackage" value="com.likeme.*.mapper" />
			<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" /> <!-- 指定sqlSessionFactoryName -->
		</bean>
	
		<!-- enable transaction demarcation with annotations -->
		<tx:annotation-driven transaction-manager="transactionManager"
			proxy-target-class="true" />

		<!-- transaction manager, use JtaTransactionManager for global tx -->
		<bean id="transactionManager"
			class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
			<property name="dataSource" ref="dataSource" />
		</bean>
	</beans>

		
</beans>
